In [1]:
import pandas as pd

df = pd.read_csv("City_Zhvi_AllHomes.csv")

In [3]:
df.head(3)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,196258.0,195693.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,185649.0,185625.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,93518.0,93633.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0

In [4]:
df["RegionName"].value_counts()

Franklin        30
Clinton         27
Springfield     26
Washington      25
Madison         23
                ..
Atlantis         1
Bringhurst       1
Weleetka         1
Norridgewock     1
Redstone         1
Name: RegionName, Length: 17616, dtype: int64

In [7]:
X = df.to_numpy()

In [ ]:
from sklearn.cross_validation import train_test_split